.btn-primary {
    color: black;
    background-color: #5EC4FF;
    border-color: #5EC4FF;
}

.btn-primary:hover {
    color: black;
    background-color: #0FA9FF;
    border-color: #0FA9FF;
}

.btn-primary:focus, .btn-primary.focus {
    color: black;
    background-color: #0FA9FF;
    border-color: #0FA9FF;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: black;
    background-color: #5EC4FF;
    border-color:#5EC4FF;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: black;
    background-color:#0FA9FF;
    border-color: #0FA9FF;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}


.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: black;
  text-decoration: none;
  background-color: #5EC4FF;
}

.dropdown-item.active, .dropdown-item:active {
  color: black;
  text-decoration: none;
  background-color: #5EC4FF;
}